div {
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    color: rgb(22 101 52);
    font-size: 1.5rem;
    line-height: 2rem
}

p {
    color: rgb(76 29 149);
    font-size: 1.5rem;
    line-height: 2rem
}